<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cnx" value="Data Source=DESKTOP-0VMMD6D\SQLEXPRESS;
         Initial Catalog=projet_restaurant;
         Persist Security Info=True;
         User ID=; 
         Password=" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
